<html>
    <head>
        <title>Sad blog</title>
        <meta charset="UTF-8">
        <link rel="icon" href="../../logo.png">
        <link rel="stylesheet" href="../../style.css">
    </head>
    <body>
        <h1>Welcome to Sad blog!</h1>

        <!-- Information about the blog itself -->
        <div class="info_box">
            <div class="sptable">
                <div class="col">
                    <h2>What is this blog about?</h2>
                    <p>
                    This blog is mainly used for sharing god's messages and revealing dirty little secrets about organisations, who normalfags
                    are largely dependant on, but are inherently evil in their nature. With this blog I attempt to enlighten people about topics
                    such as mass survailance, implicit and explicit dictatorships, disasterous consequenses of human knowledge, technology, 
                    god's will and ultimatelly the final Armageddon.
                    </p>
                </div>
                <div class="col">
                    <img src="../../res/bear_lain.webp" alt="Iwakura Lain">
                    <b>We all love Lain, so I decided to use her as my blog mascot</b>
                </div>
            </div>
        </div>


        <div class="webpins">
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
            <a href="/deng"><img src="../../res/webpins/UseDeng.gif"></a>
        </div>

        <!-- List all hosted services on sadblog domain -->
        <div class="centered">
            <h2>Services and projects</h2>
            <b>I host some services mainly for my own benefit and create some projects for fun</b>

            <table class="list">
                <tr>
                    <td><img src="../../res/favicon/searx.png"</td>
                    <td><a href="/searx">Searx instance</a></td>
                </tr>

                <tr>
                    <td><img src="../../res/favicon/rss.png"</td>
                    <td><a href="/feed">RSS feed</a></td>
                </tr>

                <tr>
                    <td><img src="../../res/favicon/deng.png"></td>
                    <td><a href="/deng">DENG project</td>
                </tr>
            </table>
        </div>

        <!-- List of all articles available for public reading -->
        <div class="info_box">
            <h2>Articles</h2>
            <div class="list">
                <ul>
                #LIST
                </ul>
            </div>
        </div>
    </body>
</html>
