<!DOCTYPE HTML>
<html>
    <head>
        <title>sadblog</title>
        <meta charset="UTF-8">
        <base href="../..">
        <link rel="icon" href="./logo.png">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>Welcome to Sad blog!</h1>

        <!-- Information about the blog itself -->
        <div class="info_box">
            <div class="vertical">
                <img src="./res/lain.png" alt="Iwakura Lain">
                <b>Lain == god</b>
            </div>
        </div>

        <div class="info_box">
            <h2>What is this blog about?</h2>
            <p>
                I decided to create a small personal website in this mess known as the ((((modern)))) web, so I did. Main topics that can be found here are following:
                rantings about modern technology, corebooting and other fun stuff, programming in C++ and Python, analysing books that I've read, cryptocurrencies etc etc.
            </p>
        </div>

        
        <!-- List of all terrible SOVLFVL webpins -->
        <div class="info_box">
            <div class="vertical">
                <h2>Some cool webpins</h2>
                <div class="webpins">
                    <a href="https://dengengine.xyz"><img src="./res/webpins/UseDeng.gif"></a>
                    <a href="https://landchad.net"><img src="./res/webpins/LandChad.gif"></a>
                    <a href="https://wiki.installgentoo.com/wiki/Main_Page"><img src="./res/webpins/4gentoo.png"></a>
                    <a href="http://keygen-fm.ru/index_en.html"><img src="./res/webpins/keygen-fm.gif"></a>
                </div>
            </div>
        </div>


        <!-- List all hosted services on sadblog domain -->
        <div class="info_box">
            <div class="vertical">
                <h2>Services and projects</h2>
                <b>I host some services mainly for my own benefit and create some projects for fun</b>

                <!-- Table of all services available under the domain -->
                <table class="services">
                    <tr>
                        <td><img src="./res/favicon/searx.png"</td>
                        <td><a href="https://searx.sadblog.xyz">Searx instance</a></td>
                    </tr>

                    <tr>
                        <td><img src="./res/favicon/rss.png"</td>
                        <td><a href="./feed">RSS feed</a></td>
                    </tr>

                    <tr>
                        <td><img src="./res/favicon/deng.png"></td>
                        <td><a href="https://dengengine.xyz">DENG project</a></td>
                    </tr>

                    <tr>
                        <td><img src="./res/favicon/git.png"></td>
                        <td><a href="https://git.sadblog.xyz">Git repositories</a></td>
                    </tr>

                    <tr>
                        <td><img src="./res/favicon/tor.png"></td>
                        <td><a href="http://rn4uejp5j2amp6nyyxxgbqgrgcv27szt5nrab5wnyrwzvoavywcnpoyd.onion/">Onion link</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- List of all articles available for public reading -->
        <div class="info_box">
            <h2>Articles</h2>
            <div class="list">
                <ul>
                    #LIST
                </ul>
            </div>
        </div>

        <!-- Donation section -->
        <div class="info_box">
            <h2>Cofe funding</h2>
            <div class="sptable" style="width: 66%; min-width: 512px; justify-content: center;">
                <div class="col" style="width: 33%; min-width: 256px; display: flex; flex-direction: column; align-items: center;">
                    <h4>Monero</h4>
                    <p class="crypto_addr" style="height: 50px;">
                        8AFhwbL8Qj5366xvth9nY4PtatkVAHhmLfdGrT4yY1idXGMTYujzi3x84erof2Bo5HXzyvXj2RzmDKpx2Mi1Kc4XC9g1cgE
                    </p>
                    <img style="width: 128px; height: auto;" src="./res/donation/monero.png" alt="monero_qr">
                </div>

                <div class="col" style="width: 33%; min-width: 256px; display: flex; flex-direction: column; align-items: center;">
                    <h4>Bitcoin</h4>
                    <p class="crypto_addr" style="height: 50px;">
                        bc1q4mhsgfczwxvkxn5lacu5um776thyry8g2mm3rf
                    </p>
                    <img style="width: 128px; height: auto;" src="./res/donation/bitcoin.png" alt="monero_qr">
                </div>
            </div>
        </div>
    </body>
</html>
